<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<import type='css' file="Home.css.common.init"/>	<!--引入css初始化-->
	<import type='css' file="font-awesome.css.font-awesome"/>	<!--引入FontAwseome字体-->
	<import type='css' file="Home.css.common.header"/>	<!--引入公共头部CSS-->
	<import type='css' file="Home.css.common.search_nav"/>	<!--引入公共头部CSS-->
	<import type='css' file="Home.css.common.footer"/>	<!--引入公共尾部CSS-->
	<import type='css' file="Home.css.index"/>	<!--引入index部分CSS-->
	<title>MyShop</title>
</head>
<body>



<!--____________________产品分类栏目,海报___________________-->

	<div class="main-top">
		<div id="main-top">
			<div class="main-top-left">
				<ul>
					<li class="main-top-left-li">
						<div class="main-top-left-li-div"></div>
						<a href="" class="main-top-left-li-a">&nbsp&nbsp&nbsp&nbsp奶茶原料&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp>></a>
					</li>
					<li class="main-top-left-li">
						<div class="main-top-left-li-div"></div>
						<a href="" class="main-top-left-li-a">&nbsp&nbsp&nbsp&nbsp奶茶原料&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp>></a>
					</li>
					<li class="main-top-left-li">
						<div class="main-top-left-li-div"></div>
						<a href="" class="main-top-left-li-a">&nbsp&nbsp&nbsp&nbsp奶茶原料&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp>></a>
					</li>
					<li class="main-top-left-li">
						<div class="main-top-left-li-div"></div>
						<a href="" class="main-top-left-li-a">&nbsp&nbsp&nbsp&nbsp奶茶原料&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp>></a>
					</li>
					<li class="main-top-left-li">
						<div class="main-top-left-li-div"></div>
						<a href="" class="main-top-left-li-a">&nbsp&nbsp&nbsp&nbsp奶茶原料&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp>></a>
					</li>
					<li class="main-top-left-li">
						<div class="main-top-left-li-div"></div>
						<a href="" class="main-top-left-li-a">&nbsp&nbsp&nbsp&nbsp奶茶原料&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp>></a>
					</li>
					<li class="main-top-left-li">
						<div class="main-top-left-li-div"></div>
						<a href="" class="main-top-left-li-a">&nbsp&nbsp&nbsp&nbsp奶茶原料&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp>></a>
					</li>
					<li class="main-top-left-li">
						<div class="main-top-left-li-div"></div>
						<a href="" class="main-top-left-li-a">&nbsp&nbsp&nbsp&nbsp奶茶原料&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp>></a>
					</li>
					<li class="main-top-left-li">
						<div class="main-top-left-li-div"></div>
						<a href="" class="main-top-left-li-a">&nbsp&nbsp&nbsp&nbsp奶茶原料&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp>></a>
					</li>
					<li class="main-top-left-li">
						<div class="main-top-left-li-div"></div>
						<a href="" class="main-top-left-li-a">&nbsp&nbsp&nbsp&nbsp奶茶原料&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp>></a>
					</li>

				</ul>
			</div>  
			<div class="main-top-right"><a href=""><img src="__PUBLIC__/Home/images/tarlton-pooster.jpg" alt=""></a></div>
		</div>
	</div>

<!--____________________module-001___________________-->

	<div class="module-001">
		<div class="module-001-content">
			<div class="module-001-button">
				<ul class="module-001-button-ul">
					<li class="module-001-button-li-01"> 
						超值特惠
					</li>	
					<li class="module-001-button-li-02"> 
						半价尝新
					</li>	
					<li class="module-001-button-li-03"> 
						新品推荐
					</li>	
					<li class="module-001-button-li-04"> 
						特价清仓
					</li>
				</ul>
			</div>
			<div class="module-001-appear">
				<ul  class="module-001-appear-ul" id="module-001-appear-ul-01">
					<li class="module-001-appear-li"> 
						<div><a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg"></a></div>
						<div>1111111111111</div>
						<div>￥36.80</div>
						<div class="module-001-buy"><a href="">购买</a></div>
					</li>
					<li class="module-001-appear-li"> 
						<div><a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg"></a></div>
						<div>11111111111111</div>
						<div>￥36.80</div>
						<div class="module-001-buy"><a href="">购买</a></div>
					</li>
					<li class="module-001-appear-li"> 
						<div><a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg"></a></div>
						<div>韩国金香柚子茶</div>
						<div>￥36.80</div>
						<div class="module-001-buy"><a href="">购买</a></div>
					</li>
					<li class="module-001-appear-li"> 
						<div><a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg"></a></div>
						<div>韩国金香柚子茶</div>
						<div>￥36.80</div>
						<div class="module-001-buy"><a href="">购买</a></div>
					</li>
					<li class="module-001-appear-li"> 
						<div><a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg"></a></div>
						<div>韩国金香柚子茶</div>
						<div>￥36.80</div>
						<div class="module-001-buy"><a href="">购买</a></div>
					</li>	
				</ul>
				<ul  class="module-001-appear-ul" id="module-001-appear-ul-02">
					<li class="module-001-appear-li"> 
						<div><a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg"></a></div>
						<div>222222222222</div>
						<div>￥36.80</div>
						<div class="module-001-buy"><a href="">购买</a></div>
					</li>
					<li class="module-001-appear-li"> 
						<div><a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg"></a></div>
						<div>2222222222222</div>
						<div>￥36.80</div>
						<div class="module-001-buy"><a href="">购买</a></div>
					</li>
					<li class="module-001-appear-li"> 
						<div><a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg"></a></div>
						<div>韩国金香柚子茶</div>
						<div>￥36.80</div>
						<div class="module-001-buy"><a href="">购买</a></div>
					</li>
					<li class="module-001-appear-li"> 
						<div><a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg"></a></div>
						<div>韩国金香柚子茶</div>
						<div>￥36.80</div>
						<div class="module-001-buy"><a href="">购买</a></div>
					</li>
					<li class="module-001-appear-li"> 
						<div><a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg"></a></div>
						<div>韩国金香柚子茶</div>
						<div>￥36.80</div>
						<div class="module-001-buy"><a href="">购买</a></div>
					</li>	
				</ul>
				<ul  class="module-001-appear-ul" id="module-001-appear-ul-03">
					<li class="module-001-appear-li"> 
						<div><a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg"></a></div>
						<div>3333333333333</div>
						<div>￥36.80</div>
						<div class="module-001-buy"><a href="">购买</a></div>
					</li>
					<li class="module-001-appear-li"> 
						<div><a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg"></a></div>
						<div>33333333333333</div>
						<div>￥36.80</div>
						<div class="module-001-buy"><a href="">购买</a></div>
					</li>
					<li class="module-001-appear-li"> 
						<div><a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg"></a></div>
						<div>韩国金香柚子茶</div>
						<div>￥36.80</div>
						<div class="module-001-buy"><a href="">购买</a></div>
					</li>
					<li class="module-001-appear-li"> 
						<div><a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg"></a></div>
						<div>韩国金香柚子茶</div>
						<div>￥36.80</div>
						<div class="module-001-buy"><a href="">购买</a></div>
					</li>
					<li class="module-001-appear-li"> 
						<div><a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg"></a></div>
						<div>韩国金香柚子茶</div>
						<div>￥36.80</div>
						<div class="module-001-buy"><a href="">购买</a></div>
					</li>	
				</ul>
				<ul  class="module-001-appear-ul" id="module-001-appear-ul-04">
					<li class="module-001-appear-li"> 
						<div><a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg"></a></div>
						<div>4444444444444</div>
						<div>￥36.80</div>
						<div class="module-001-buy"><a href="">购买</a></div>
					</li>
					<li class="module-001-appear-li"> 
						<div><a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg"></a></div>
						<div>444444444444</div>
						<div>￥36.80</div>
						<div class="module-001-buy"><a href="">购买</a></div>
					</li>
					<li class="module-001-appear-li"> 
						<div><a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg"></a></div>
						<div>韩国金香柚子茶</div>
						<div>￥36.80</div>
						<div class="module-001-buy"><a href="">购买</a></div>
					</li>
					<li class="module-001-appear-li"> 
						<div><a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg"></a></div>
						<div>韩国金香柚子茶</div>
						<div>￥36.80</div>
						<div class="module-001-buy"><a href="">购买</a></div>
					</li>
					<li class="module-001-appear-li"> 
						<div><a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg"></a></div>
						<div>韩国金香柚子茶</div>
						<div>￥36.80</div>
						<div class="module-001-buy"><a href="">购买</a></div>
					</li>	
				</ul>		
			</div>
		</div>	
	</div>

<!--____________________module-003___________________-->

	<div class="module-003">
		<div class="module-003-botton">
	  		<ul>
	  			<li>查看更多</li>
	  			<li id="toleft" >&nbsp&nbsp<<<&nbsp&nbsp</li>
	  			<li id="toright">&nbsp&nbsp>>>&nbsp&nbsp</li>
	  		</ul>
	  	</div>
	  	<div class="module-003-content">
	    	<ul>
			    <li class="module-003-content-li">
					<div>韩国金香柚子茶</div>
					<div>
						<a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg">
						</a>
					</div>
				</li>
				<li class="module-003-content-li">
					<div>韩国金香柚子茶</div>
					<div>
						<a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg">
						</a>
					</div>
				</li>
				<li class="module-003-content-li">
					<div>韩国金香柚子茶</div>
					<div>
						<a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg">
						</a>
					</div>
				</li>
				<li class="module-003-content-li">
					<div>韩国金香柚子茶</div>
					<div>
						<a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg">
						</a>
					</div>
				</li>
				<li class="module-003-content-li">
					<div>韩国金香柚子茶</div>
					<div>
						<a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg">
						</a>
					</div>
				</li>
				<li class="module-003-content-li">
					<div>韩国金香柚子茶</div>
					<div>
						<a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg">
						</a>
					</div>
				</li>
				<li class="module-003-content-li">
					<div>韩国金香柚子茶</div>
					<div>
						<a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg">
						</a>
					</div>
				</li>
				<li class="module-003-content-li">
					<div>韩国金香柚子茶</div>
					<div>
						<a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg">
						</a>
					</div>
				</li>
	 	   </ul>
	  	</div>
	</div>

<!--____________________module-002___________________-->

	<div class="module-002">
		<div class="module-002-botton">
			<p>
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				<span>维德雷妮</span>
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				<a>更多优惠>></a>
			</p>
		</div>
		<div class="module-002-content">
			<a href="" class="module-002-content-a">
				<img src="__PUBLIC__/Home/images/tarlton logo.jpg">
			</a>
			<table >
				<tr rowspan="2">
					<td>
						<p>维德雷妮蓝柑糖浆</p>
						<p><a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg"></a></p>
					</td>
					<td>
						<p>维德雷妮蓝柑糖浆</p>
						<p><a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg"></a></p>
					</td>
					<td>
						<p>维德雷妮蓝柑糖浆</p>
						<p><a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg"></a></p>
					</td>
				</tr>
				<tr>
					<td>
						<p>维德雷妮蓝柑糖浆</p>
						<p><a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg"></a></p>
					</td>
					<td>
						<p>维德雷妮蓝柑糖浆</p>
						<p><a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg"></a></p>
					</td>
					<td>
						<p>维德雷妮蓝柑糖浆</p>
						<p><a href=""><img src="__PUBLIC__/Home/images/tarlton logo.jpg"></a></p>
					</td>			
				</tr>
			</table>
		</div>
	</div>	



</body>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/Home/js/index.js"></script>
<script src="__PUBLIC__/Home/js/common/header.js"></script>
</html>