
<!--____________________声明栏___________________-->

	<div class="statement">
		<div>
			<table>
				<tr>
					<td>
						<tr class="statement-content">
							<td>
								<img src="__PUBLIC__/statement/001.png">
							</td>
							<td>
								<p>正品保障</p>
								<p style="color:gray;font-size:14px">正品保障,放心购物</p>
							</td>
						</tr>
						<tr class="statement-content">
							<td>
								<img src="__PUBLIC__/statement/002.png">
							</td>
							<td>
								<p>极速物流</p>
								<p style="color:gray;font-size:14px">极速物流，急速送达</p>
							</td>
						</tr>
						<tr class="statement-content">
							<td>
								<img src="__PUBLIC__/statement/003.png">
							</td>
							<td>
								<p>无忧售后</p>
								<p style="color:gray;font-size:14px">7天无理由退换货</p>
							</td>
						</tr>
						<tr class="statement-content">
							<td>
								<img src="__PUBLIC__/statement/004.png">
							</td>
							<td>
								<p>帮助中心</p>
								<p style="color:gray;font-size:14px">您的购物指南</p>
							</td>
						</tr>
					</td>
				</tr>
			</table>
		</div>
	</div>

<!--____________________页脚栏(底部)___________________-->

	<footer>
		<div class="footer">
			<ul>
				<li><a href="">首页</a></li>
				<li><a href="">会员登录</a></li>
				<li><a href="">会员注册</a></li>
				<li><a href="">进口食品</a></li>
				<li><a href="">热销产品</a></li>
			</ul>
			<p>美度商城</p>
			<p>广州美度咖啡有限公司</p>
		</div>
	</footer>